body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial;
  display: flex;
}
#game {
  background: black;
}
#ui {
  width: 200px;
  padding: 10px;
  background: #222;
}
button {
  width: 100%;
  margin: 5px 0;
}
