body {
  margin: 0;
  display: flex;
  background: #0b0f1a;
  color: white;
  font-family: Arial;
}

#ui {
  width: 250px;
  padding: 15px;
  background: #111827;
}

.panel {
  background: #1f2937;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

#game {
  background: black;
}
